@CHARSET "ISO-8859-1";

input {
	width: 300px;
}

/* #idtitre { */
	
/* 	text-align:center; */
/* 	position: relative; */
/* 	left: 40%; */
/* 	top: 20%; */
/* } */

.innerdiv{
	text-align:center;
	position: relative;
}
/* #idbouton { */
/* 	text-align:center; */
/* 	position: relative; */
/* 	left: 33%; */
/* 	top: 20%; */
/* } */