@CHARSET "ISO-8859-1";
body{
	background-image:
	url(http://fonds-ecran.widewallpapershd.info/file/15180/728x410/16:9/msc-splendida-blanc-navire-de-croisi%C3%A8re_982524366.jpg);
	font-style:bold
}
.encadre{
	border-width:20px;
	border-color:black;
	border-style:solid;
}
