@CHARSET "ISO-8859-1";

@charset "utf-8";

#formu11 {
	text-align: left;
	margin-top: 30px;
	position: relatif;
	margin-left: 150px
}

#formu7 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}

#formu8 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}

#formu9 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}