@CHARSET "ISO-8859-1";

@charset "utf-8";

#formu4 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}

#formu5 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}

#formu6 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}

#formu11 {
	text-align: left;
	margin-top: 30px;
	position: relatif;
	margin-left: 150px
}

#formu12 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 60px
}