@CHARSET "ISO-8859-1";

@charset "utf-8";

#formu1 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 120px
}

#formu2 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 120px
}

#formu3 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 170px
}

#formu4 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 170px
}