@CHARSET "ISO-8859-1";

@charset "utf-8";

#formu11 {
	text-align: left;
	margin-top: 30px;
	position: relatif;
	margin-left: 150px
}

#formu12 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 100px
}

#formu13 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 100px
}

#formu14 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 100px
}
#formu15 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 100px
}
#formu16 {
	text-align: left;
	margin-bottom: 8px;
	position: relatif;
	margin-left: 100px
}