@CHARSET "ISO-8859-1";

@charset "utf-8";

#formu1 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 120px
}

#formu2 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 120px
}

#formu3 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 120px
}
#formu4 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}

#formu5 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}

#formu6 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}

#formu7 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}

#formu8 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}

#formu9 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}
#formu10 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 	0px
}
#formu11 {
	text-align: left; 
	margin-top : 25px;
	position: relatif;
	margin-left: 0px
}

#formu12 {
	text-align: left; 
	margin-bottom : 8px;
	position: relatif;
	margin-left: 60px
}