@CHARSET "ISO-8859-1";

@charset "utf-8";

body {
	margin: 0;
	padding: 0;
}

#background {
	left: 0px;
	top: 0px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	height: 1025px;
	z-index: 0;
}

#back2 {
	position: absolute;
	width: 1280px;
	height: 416px;
	z-index: 7;
}

#back3 {
	left: 0px;
	top: 163px;
	position: absolute;
	width: 1280px;
	height: 861px;
}

#logo {
	left: 109px;
	top: 3px;
	position: relative;
	width: 14.4%;
	height: 10.3%;
	z-index: 7;
}

#white {
	left: 293px;
	top: -106px;
	position: relative;
	width: 782px;
	height: 595px;
	z-index: 8;
}

#logo1 {
	left: 310px;
	top: -630px;
	position: relative;
	z-index: 9;
}

#logo2 {
	left: 415px;
	top: -730px;
	position: relative;
	z-index: 9;
}

#logo3 {
	left: 511px;
	top: -830px;
	position: relative;
	z-index: 9;
}

#logo4 {
	left: 605px;
	top: -935px;
	position: relative;
	z-index: 9;
}

#logo5 {
	left: 700px;
	top: -1034px;
	position: relative;
	z-index: 9;
}

#logo6 {
	left: 795px;
	top: -1139px;
	position: relative;
	z-index: 9;
}

#logo8 {
	left: 890px;
	top: -1250px;
	position: relative;
	z-index: 9;
}

#logo7 {
	left: 985px;
	top: -1350px;
	position: relative;
	z-index: 9;
}

#titre1 {
	width: 600px;
	height: 17px;
	font-family: Bliss;
	color: #00285a;
	font-size: 25px;
	font-weight: 500;
	line-height: 7px;
	transform: scale(0.8, 0.801);
	left: 250px;
	top: -1500px;
	position: relative;
	z-index: 10;
}

#menu1 {
	left: 250px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#ogol1 {
	left: 256px;
	top: 245px;
	position: absolute;
	z-index: 12;
	width: 342px;
	height: 57px;
}

#tlogo {
	left: 340px;
	top: 275px;
	position: absolute;
	z-index: 12;
	width: 300px;
	height: 21px;
	font-family: Bliss;
	color: #e4022e;
	font-size: 25px;
	font-weight: 400;
	line-height: 7px;
}

#fpage {
	left: 293px;
	top: 264px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 05;
}

#Facebook {
	left: 355px;
	top: 345px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#linkedin {
	left: 390px;
	top: 345px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#viadeo {
	left: 425px;
	top: 345px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#droit {
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	font-weight: 400;
	line-height: 12px;
	left: 250px;
	top: 380px;
	position: absolute;
	z-index: 12;
}

#creation {
	left: 630px;
	top: 250px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#info1 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 15px;
	/* Approximation causée par une substitution de police */
	font-weight: 400;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
	left: 310px;
	top: 337px;
	position: absolute;
	width: 703px;
	height: 337px;
	z-index: 24;
}

#menu2 {
	left: 160px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#creation2 {
	left: 630px;
	top: 190px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#info2 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 15px;
	/* Approximation causée par une substitution de police */
	font-weight: 400;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
	left: 330px;
	top: 337px;
	position: absolute;
	width: 650px;
	height: 337px;
	z-index: 24;
}

#menu3 {
	left: 300px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#creation3 {
	left: 630px;
	top: 190px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#fpage2 {
	left: 293px;
	top: 550px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 05;
}

#Facebook2 {
	left: 355px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#linkedin2 {
	left: 390px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#viadeo2 {
	left: 425px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#droit2 {
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	font-weight: 400;
	line-height: 12px;
	left: 250px;
	top: 460px;
	position: absolute;
	z-index: 12;
}

#menu5 {
	left: 300px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#fpage3 {
	left: 293px;
	top: 480px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 05;
}

#Facebook3 {
	left: 355px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#linkedin3 {
	left: 390px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#viadeo3 {
	left: 425px;
	top: 420px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#droit3 {
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	font-weight: 400;
	line-height: 12px;
	left: 250px;
	top: 460px;
	position: absolute;
	z-index: 12;
}

#etoile {
	left: 470px;
	top: 380px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#cardi {
	left: 350px;
	top: 350px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#menu6 {
	left: 250px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#fpage5 {
	left: 293px;
	top: 570px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 20;
}

#back5 {
	left: 0px;
	top: 1043px;
	position: absolute;
	width: 1280px;
	height: 757px;
}

#info5 {
	left: 330px;
	top: 337px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 24;
}

#info51 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

#info52 {
	font-family: Helvetica;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

#info53 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 400;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

#info54 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 15px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

#info55 {
	font-family: ProximaNova;
	color: #e4022e;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

font-family


:

 

Helvetica


;
color


:

 

#e4022e


;
font-size


:

 

16
px


; /* Approximation causée par une substitution de police */
font-weight


:

 

700;
line-height


:

 

20
px


; /* Approximation causée par une substitution de police */
text-align


:

 

left


;
font-family


:

 

ProximaNova


;
color


:

 

#e4022e


;
font-size


:

 

15
px


; /* Approximation causée par une substitution de police */
font-weight


:

 

400;
line-height


:

 

20
px


; /* Approximation causée par une substitution de police */
text-align


:

 

left


;
font-family


:

 

ProximaNova


;
color


:

 

#e4022e


;
font-size


:

 

15
px


; /* Approximation causée par une substitution de police */
font-weight


:

 

400;
line-height


:

 

25
px


; /* Approximation causée par une substitution de police */
text-align


:

 

left


;
font-family


:

 

ProximaNova


;
color


:

 

#1c1c1b


;
font-size


:

 

16
px


; /* Approximation causée par une substitution de police */
font-weight


:

 

700;
line-height


:

 

20
px


; /* Approximation causée par une substitution de police */
text-decoration


:

 

underline


;
text-align


:

 

left


;
font-family


:

 

ProximaNova


;
color


:

 

#1c1c1b


;
font-size


:

 

15
px


; /* Approximation causée par une substitution de police */
line-height


:

 

20
px


; /* Approximation causée par une substitution de police */
text-align


:

 

left


;
}
#calc {
	left: 290px;
	top: 0px;
	position: absolute;
	width: 782px;
	height: 216px;
	z-index: 23;
}

#schema5 {
	left: 100px;
	top: 550px;
	position: absolute;
	width: 782px;
	height: 216px;
	z-index: 24;
}

#Facebook5 {
	left: 220px;
	top: 535px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#linkedin5 {
	left: 250px;
	top: 535px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#viadeo5 {
	left: 280px;
	top: 535px;
	position: absolute;
	width: 26px;
	height: 25px;
	z-index: 24;
}

#droit5 {
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	font-weight: 400;
	line-height: 12px;
	left: 120px;
	top: 570px;
	position: absolute;
	z-index: 12;
}

#menu5 {
	left: 130px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#carte5 {
	left: 600px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
	z-index: 16;
}

#fpage7 {
	left: 293px;
	top: 200px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 10;
}

#text12 {
	left: 330px;
	top: 370px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 15;
	/* Style intégré */
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
}

#menu51 {
	left: 300px;
	top: 250px;
	position: absolute;
	z-index: 9;
	width: 342px;
	height: 57px;
}

#menu56 {
	left: 130px;
	top: 250px;
	position: absolute;
	z-index: 12;
	width: 342px;
	height: 57px;
}

#menu92 {
	left: 160px;
	top: 250px;
	position: absolute;
	z-index: 12;
	width: 342px;
	height: 57px;
	z-index: 10;
}

#txt201 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: center;
	left: 340px;
	top: 340px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#carre2 {
	left: 490px;
	top: 390px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#txt202 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: center;
	left: 340px;
	top: 520px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#txt203 {
	font-family: ProximaNova;
	color: #1c1c1b;
	font-size: 16px;
	/* Approximation causée par une substitution de police */
	font-weight: 700;
	line-height: 20px;
	/* Approximation causée par une substitution de police */
	text-align: left;
	left: 340px;
	top: 340px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#fpage72 {
	left: 293px;
	top: 380px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 10;
}

#carre3 {
	left: 340px;
	top: 400px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#menu93 {
	left: 459px;
	top: 250px;
	position: absolute;
	z-index: 12;
	width: 342px;
	height: 57px;
	z-index: 9;
}

#fpage73 {
	left: 293px;
	top: 490px;
	width: 782px;
	height: 408px;
	position: absolute;
	z-index: 10;
}

#menu922 {
	left: 160px;
	top: 250px;
	position: absolute;
	z-index: 12;
	width: 342px;
	height: 57px;
	z-index: 11;
}

#carre21 {
	left: 700px;
	top: 390px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

#fond21 {
	left: 293px;
	top: 885px;
	position: absolute;
	width: 680px;
	height: 337px;
	z-index: 22;
}

