@CHARSET "ISO-8859-1";

@charset "utf-8";


#deco {
	text-align: left; 
	margin-top : 30px;
	position: relatif;
	margin-left: 120px
}

#option {
	text-align: left; 
	margin-top : 30px;
	position: relatif;
	margin-left: 0px
}

