@CHARSET "ISO-8859-1";

div {
	color: red;
	text-decoration: blink;
	visibility: inherit;
}
legend{
	font-size: xx-small;
}
.toti {
	font-size: xx-large;
	text-align: center;
}

.§2
{
	font-style: italic;
	font-stretch: extra-expanded;
	font-weight: 600;
	margin: 1cm;
	color: maroon;
}
.§4{
	font-style: italic;
	font-stretch: extra-expanded;
	font-weight: 600;
	margin: 1cm;
	color: navy;
} 