@CHARSET "ISO-8859-1";

h3
{
    text-align: center;
    font-size: 30px;
}
table,th,td,tr
{
    border: 2px solid black;
    border-collapse: collapse;
    position: relative;
    border-color: crimson
    
}
body
{
    position: absolute;
    background-color: darkgreen;
    color: aqua;
}
#etat
{
    position: relative;
    text-align: center;
}
#situation
{
    position: relative;
    text-align: center;
}
#fonction
{
    position: relative;
    text-align: center;
}
#coordonnees
{
    position: relative;
    text-align: center;
}
input
{
    background-color: black;
    color: white;
}